@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik+Dirt&display=swap');





.container-fluid{
    background-color: rgb(8, 9, 26);
    position: static;
    padding: 55px 0px 30px 0px;
    width: 100%;
    font-size: 25px;
    height: 100px;
    text-align: center;
}


.h1-header{
    float: left;
    margin: 0px 0px 20px 10px;
    padding: 25px 0px 10px 20px;
    color: white;
    font-family: 'Rubik Dirt', cursive;


  
  }
  @media only screen and (max-width: 768px) {
  html{
    /* width: 450px; */

}

}


  @media only screen and (max-width: 768px) {
    #parent-header-div-id{
        margin: 0px 0px 0px 0px;
    }
   }


@media only screen and (max-width: 768px) {
    #header-id{
        margin: -10px 0px 10px 0px;
        background-color: rgb(86, 25, 25);
    }
   }




   @media only screen and (max-width: 768px) {
    #h1-header-id{
    width: 500px;
    margin: 0px 0px 7px 0px;
    background-color: rgb(94, 130, 197);
   }
   }


   @media only screen and (max-width: 768px) {
    .container-fluid{
     display:flex;
     height: 85px;
     width: 350px;
     margin: 0px 0px 0px 0px;
     /* margin-right: 5px;
     margin-left: 5px; */
     padding: 5px 0px 0px 0px;
     font-size: 16px;
   }
   }




